@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

:root {
  --color-dark: hsl(244, 23%, 12%);
  --color-light: hsl(20, 33%, 98%);
  --color-bg: hsl(0, 0%, 95%);
  --color-card-bg: hsl(12, 94%, 65%);
  --color-btn-primary-hover: hsl(177, 68%, 64%);
  --color-btn-secondary-hover: hsl(33, 100%, 70%);
  --text-h1-mobile: 2.5rem/3rem "IBM Plex Sans Bold";
  --text-h1-tablet: 4rem/4rem "IBM Plex Sans Bold";
  --text-h1-desktop: 5.5rem/5.5rem "IBM Plex Sans Bold";
  --text-h2-mobile: 2rem/2.5rem "IBM Plex Sans Bold";
  --text-h2-desktop: 2.5rem/3.25rem "IBM Plex Sans Bold";
  --text-button: 1.125rem/2rem "IBM Plex Sans Bold";
  --text-p-mobile-sm: 1rem/1.625rem "IBM Plex Sans";
  --text-p-mobile-md: 1.125rem/1.75rem "IBM Plex Sans";
  --text-p-mobile-lg: 1.25rem/2rem "IBM Plex Sans";
  --text-p-desktop: 1.25rem/2.125rem "IBM Plex Sans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  
  background-color: var(--color-bg);
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  background: var(--color-light) url("../assets/bg-main-mobile.png") no-repeat top -230px right -230px;
}

header {
  padding: 40px 24px;
}

header .logo {
  stroke: var(--color-dark);
  stroke-width: 0.25;
  stroke-dasharray: 874.55;
  stroke-dashoffset: 874.55;
  animation: offset 20s linear forwards;
}

header g {
  animation: fill-it .8s 2.8s forwards
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: var(--color-dark);
  }
}

.hero {
  color: var(--color-dark);
  padding: 12px 24px;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font: var(--text-h1-mobile);
}

.hero p {
  font: var(--text-p-mobile-sm);
}

.tablet-pattern {
  display: none;
  overflow-x: hidden;
}

.app-img-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 420px;
  margin-top: 166px;
  border-radius: 12px;
  background: var(--color-dark) url("../assets/bg-pattern-2.svg") no-repeat top 0 center/280px 420px;
}

.app-img {
  display: block;
  position: absolute;
  top: -95px;
  width: 208px;
}

.more-info {
  position: relative;
  top: -40px;
  padding: 48px 40px;
  border-radius: 12px;
  color: var(--color-light);
  background-color: var(--color-card-bg);
}

.more-info h2 {
  font: var(--text-h2-mobile);
  margin-bottom: 12px;
}

.more-info>p {
  font: var(--text-p-mobile-md);
}

.cost-text {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

.price {
  font: 4.0625rem/3.25rem "IBM Plex Sans Bold";
  margin-right: 16px;
}

.duration {
  font: var(--text-p-mobile-lg)
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 16px;
  font: var(--text-button);
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}

button img {
  margin-right: 8px;
}

.btn-ios {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.btn-ios:hover {
  background-color: var(--color-btn-primary-hover);
}

.btn-android {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.btn-android:hover {
  background-color: var(--color-btn-secondary-hover);
}

footer {
  padding: 24px 24px 80px 24px;
  background-color: var(--color-light);
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-text {
  font: var(--text-p-mobile-sm);
  margin-bottom: 64px;
}

.facebook:hover path,
.instagram:hover path, 
.twitter:hover path  {
  fill: var(--color-card-bg)
}

.footer-social a+a {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    background: var(--color-light) url("../assets/bg-main-tablet.png") no-repeat top -250px right -100px;
  }

  header {
    padding: 60px 40px;
  }

  .tablet-pattern {
    display: block;
    position: absolute;
    top: -225px;
    right: -65px;
    width: 266px;
    height: 400px;
  }

  .hero {
    display: flex;
    padding: 0;
    position: relative;
  }

  .hero-text {
    flex-basis: 73%;
    margin-bottom: 90px;
  }

  .hero h1 {
    margin-bottom: 28px;
    font: var(--text-h1-tablet);
  }

  .hero p {
    font: var(--text-p-mobile-md);
  }

  main {
    padding: 35px;
  }

  .app-img {
    left: 64px;
    top: -145px;
    width: 270px;
    height: 556px;
  }

  .app-img-container {
    min-height: 600px;
    background: var(--color-dark) url("../assets/bg-pattern-2.svg") no-repeat top -30px left 230px/280px 420px
  }

  .more-info {
    width: 399px;
    height: 546px;
    padding: 48px;
    position: relative;
    left: 235px;
    top: -450px;
    margin-bottom: -450px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 35px 85px 35px;
  }

  .footer-logo {
    flex-basis: 100%;
  }

  .footer-text, 
  .footer-social {
    margin: 0;
    flex-basis: 50%;
  }

  .footer-social {
    text-align: right;
  }

}

@media (min-width: 1440px) {
  .wrapper {
    background: var(--color-light) url("../assets/bg-main-desktop.png") no-repeat top -280px right -165px;
  }

  .tablet-pattern {
    width: 312px;
    height: 468px;
    right: -165px;
    top: -205px;
  }

  header {
    padding: 60px 165px;
  }

  main {
    padding: 0 165px;
  }

  .hero-text {
    flex-basis: 78%;
  }

  .hero h1 {
    font: var(--text-h1-desktop);
  }

  .hero p {
    font: var(--text-p-desktop);
  }

  .app-img {
    width: 312px;
    height: 642px;
    top: -215px;
    left: 102px;
  }

  .app-img-container {
    margin-top: 236px;
    background: var(--color-dark) url("../assets/bg-pattern-2.svg") no-repeat top -45px left 336px/312px 468px;
  }

  .more-info {
    width: 446px;
    height: 625px;
    padding: 56px;
  }

  .more-info h2 {
    font: var(--text-h2-desktop);
  }

  .more-info > p,
  .duration {
    font: var(--text-p-desktop);
  }

  .cost-text {
    margin-top: 40px;
    margin-bottom: 46px;
  }

  .more-info {
    left: auto;
    margin-left: auto;
    right: 95px;
    top: -510px;
    margin-bottom: -510px;
  }

  footer {
    padding: 90px 165px;
    background-color: transparent;
  }

  .footer-logo {
    flex-basis: 25%;
  }

  .footer-text {
    flex-basis: 50%;
    padding: 0px 75px;
  }

  .footer-social {
    flex-basis: 25%;
  }

}